[submodule "submodules/evmos"]
	path = submodules/evmos
	url = git@github.com:HackerSamuraiDAO/evmos
[submodule "submodules/yui-ibc-solidity"]
	path = submodules/yui-ibc-solidity
	url = git@github.com:HackerSamuraiDAO/yui-ibc-solidity
[submodule "submodules/the-laurel-demos"]
	path = submodules/the-laurel-demos
	url = git@github.com:HackerSamuraiDAO/the-laurel-demos
[submodule "submodules/axelar-local-gmp-examples"]
	path = submodules/axelar-local-gmp-examples
	url = git@github.com:HackerSamuraiDAO/axelar-local-gmp-examples
[submodule "submodules/ibc-relayer"]
	path = submodules/ibc-relayer
	url = git@github.com:HackerSamuraiDAO/ibc-relayer
[submodule "submodules/gaia"]
	path = submodules/gaia
	url = git@github.com:HackerSamuraiDAO/gaia
[submodule "submodules/ibc-ts-relayer-example"]
	path = submodules/ibc-ts-relayer-example
	url = git@github.com:HackerSamuraiDAO/ibc-ts-relayer-example
